:root {
  --branding-color: #227576;
  --secondary-color: #f9f7fe;
  --second-font-color: #344d5c;
  --hover-color: #c1a336;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: bolds;
}

p {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.introduction {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 50px 20px;
}

.introduction h1 {
  font-size: 96px;
}

.introduction h2 {
  font-family: var(--default-font-family);
  font-size: 24px;
  font-weight: normal;
  line-height: 2;
  color: var(--second-font-color);
}

.introduction p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: var(--second-font-color);
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  padding: 18px 30px;
  color: #ffffff;
  font-size: 18px;
  line-height: 27px;
}

.divider p {
  font-size: 18px;
  line-height: 27px;
}

.core {
  margin-bottom: 60px;
}

.core h2 {
  font-size: 64px;
  line-height: 85px;
}

.btn-secondary {
  background-color: #ffffff;
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  color: var(--branding-color);
  padding: 18px 30px;
  font-size: 16px;
  line-height: 24px;
}

.description {
  margin-top: 60px;
}

.about {
  padding: 70px 20px;
}
.about-content {
  margin: 30px;
}

.about h1 {
  font-size: 64px;
  line-height: 85px;
}

.about h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
  line-height: 27px;
  font-weight: bold;
  color: var(--second-font-color);
}

.about img {
  border-radius: 20px;
}

.content-container {
  padding: 60px 20px;
}

.content h1 {
  font-size: 64px;
  line-height: 80px;
}

.content h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.content h3 {
  font-size: 24px;
  line-height: 1.5;

  font-family: var(--default-font-family);
}

.content p {
  font-size: 14px;
}

.content {
  margin: 30px;
}

.content img {
  border-radius: 20px;
}

.navigation {
  background-color: var(--secondary-color);
}

nav {
  padding: 0px;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 50px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: rgba(39, 33, 66, 0.7);
}
nav a:hover {
  color: var(--hover-color);
}

nav li.active a {
  color: var(--branding-color);
}

footer {
  margin: 60px 0px;
}

.work-inquiry {
  background-color: var(--secondary-color);
  margin: 0px 140px;
  border-radius: 20px;
  padding: 50px 120px;
}

.mail-contact {
  text-align: center;
}

.mail-contact a {
  text-decoration: none;
  color: black;
  font-family: var(--default-font-family);
  font-size: 24px;
}

.mail-contact a:hover {
  color: var(--branding-color);
}

.icons a {
  margin: 20px;
  color: var(--branding-color);
  border-radius: 50%;
  background-color: var(--secondary-color);
  padding: 10px 14px;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}

.icons a:hover {
  color: white;
  background-color: var(--branding-color);
}

.link {
  color: #cf8383;
}

@media (max-width: 900px) {
  .introduction {
    padding: 80px;
  }
  .introduction h1 {
    font-size: 45px;
  }
  .core h2 {
    font-size: 40px;
  }
  .description {
    text-align: center;
  }
  .about {
    text-align: center;
    padding: 0px;
  }
  .about h1,
  .content h1 {
    font-size: 45px;
    line-height: 70px;
  }
  .content {
    text-align: center;
    padding: 0px;
  }
  nav {
    padding: 10px 0px;
    font-size: 14px;
  }
}
